body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.app {
  height: 100%;
  width: 100%;
  margin: 0;
}
.siide {
  background-color: rgb(15, 15, 15);
  color: azure;
  padding-top: 50px;
}
.maiin {
  background: #bc4e9c;
  background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
  background: linear-gradient(to right, #f80759, #bc4e9c);
}
.game {
  border: 3px solid azure;
  box-shadow: -1px 1px 20px 1px rgba(0, 0, 0, 0.5);
}
.card {
  margin: 15px;
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  box-shadow: -1px 1px 20px 1px rgba(0, 0, 0, 0.404);
}
.card img {
  border-radius: 50%;
}
.show {
  position: absolute;
  transform: scale(5) translateY(30px);
  z-index: 99;
  border-radius: 0;
}
.show img {
  border-radius: 0;
}
.logo-cont {
  margin-bottom: -20px;
}
.logo-cont img {
  width: 248px;
  transform: scale(2);
}
.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.front {
  z-index: 2;
}
.back {
  z-index: 1;
}
.hide {
  visibility: none;
}
.option {
  text-align: center;
  border: 1px solid azure;
  width: 80%;
  margin: 10px auto;
  padding: 10px 10px;
  border-radius: 12px;
  font-size: 22px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
}
.option:hover {
  border: 2px solid rgba(51, 51, 100, 0.822);
}
ul {
  text-align: start;
  text-decoration: underline;
  list-style-type: square;
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 50px;
}
.endScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(25, 43, 48);
  text-align: center;
  color: aliceblue;
  border: 4px solid aliceblue;
  border-left: none;
  border-right: none;
  z-index: 999999;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.restart {
  border: 2px solid azure;
  display: block;
  border-radius: 40px;
  width: 500px;
  margin-top: 30px;
  margin-left: 5px;
}
.restart:hover {
  background: antiquewhite;
  color: rgb(25, 43, 48);
  cursor: pointer;
  transform: scale(1.1);
}
.counter-cont {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  background: rgb(255, 23, 158);
  font-size: 100px;
  font-weight: bold;
  visibility: hidden;
  z-index: 9999999999999999999;
}
@keyframes counter {
  from {
  }
  to {
    transform: scale(2.5);
  }
}
.animate {
  animation-name: counter;
  animation-duration: 2s;
  animation-iteration-count: 20;
}
@media (max-width: 480px) {
  .container {
    margin: 14px auto 90px;
  }
  .logo-cont {
    margin-bottom: -50px;
    margin-top: -20px;
  }
  .logo-cont img {
    transform: scale(1.5);
  }
  .maiin {
    order: 1;
  }
  .card {
    width: 65px;
    height: 65px;
    margin: 10px;
  }
  .siide {
    order: 2;
  }
  .endScreen {
    font-size: 40px;
  }
  .restart {
    width: 300px;
  }
  .show {
    transform: scale(5.8) translateY(20px) translateX(-0.5px);
    border: none;
  }
}
